// Color Variables //
$color-primary: #777;
$color-secondary: #58e1c1;
$color-tertiary:  #51ddfc;
$color-button: #fff;
$color-frame: #ccc;

// Media Query Breakpoint Variable //
$break-tablet: 768px;
